.posts {
    width: 450px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 5px;
}
.post {
    flex: 0 1 calc(50% - 5px);
    position: relative;
    overflow: hidden;
    border: 1px solid rgb(red, green, blue);
    height: 200px;
    * {
        background: rgba(0, 0, 0, 0);
    }
}
.post img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s ease;
    z-index: 1;
}
.post:hover img, .small-info:hover + img {
    filter: brightness(50%);
    z-index: 0;
}
.post:hover .small-info {
    z-index: 1;
}